@import 'fontface';
//--font varaiables--//
$archivo:'Archivo';
//--color variables--//
$color-ffffff:#ffffff;
$color-000000:#000000;
$color-002947:#002947;
$color-024B5C:#024B5C;
$color-FF4848:#FF4848;
$color-012C36:#012C36;
$color-3D65B2:#3D65B2;
$color-82ABFA:#82ABFA;
$color-0D8780:#0D8780;
$color-20BEB5:#20BEB5;
$color-00B1DB:#00B1DB;
$color-E47C29:#E47C29;
$color-D9D9D9:#D9D9D9;
$color-1E6413:#1E6413;
$color-2A711F:#2A711F;
$color-003152:#003152;